.Home_Header{
    margin-top:0;
    /* margin-bottom:40px; */
}
.Home_heading_bg{
    background-image: url(../images/slide-18.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    height: 100vh;
    position: relative;
}
.Home_heading_bg_content{
   position: absolute;
   top:20%;
   left: 50%;
}
@media only screen and (max-width: 975px){
    .Home_heading_bg_content{
        top:15%;
        left: 50%;
     }
}
@media only screen and (max-width: 730px){
    .Home_heading_bg_content{
        top:1%;
        left: 1%;
     }
}

.Home_heading_bg_content h2{
    color:#004861;
    font-size: 50px;
    margin: 30px 0;
}
.Home_heading_bg_content ul li{
    list-style-type: none;
    color: rgba(0, 0, 0, 0.555);
    font-size: 16px;
}
.Home_heading_bg_content ul{
    margin-bottom: 30px;
}
.Home_heading_bg_content ul li span{
    color: #00a3c8;
    font-weight: 600;
    margin-right: 20px;
}
.Home_heading_bg_content a{
    font-size: 18px;
    color: white!important;
    text-decoration: none;
    padding: 10px 15px;
    background-color:#00a3c8 ;
    border-radius: 10px;
}

.Home_header_card_container{
    border:none;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0,0,0,0.6);
    padding: 40px 0;
   background-color:white;
     position:relative;
     z-index: 99;
   top:-130px;
}
.Home_CARD_CONTENT{
    margin:20px 0 0 0;
}
.Home_CARD_CONTENT h3{
    color: #00a3c8;
    font-size: 17px;
}
.Home_CARD_CONTENT h2{
    color: #004861;
    font-size: 20px;
    margin: 20px 0;
}
.Home_CARD_CONTENT p{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.596);
}




.Home_section1_content{
    padding-top: 120px !important;
}

.Home_section3_container{
    margin:60px 0 !important;
}


.Home_section5_bg{
    background-image: url(../images/optometry-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.owner_section_header{
    background-color: #00a3c8;
}

.Home_section6_container{
    margin:80px 0 40px 0 !important;
}



                                                                                  /* Home Section8 Start  */
.Home_Section8_container{
    margin: 40px 0;
    padding: 70px 0;
}
.Home_section8_heading{
    text-align: center;
}
.Home_section8_heading h2{
    color:#004861;
    font-size: 35px;
}
.Home_section8_content h2{
    font-size: 22px;
    color:#004861;
    margin: 20px 0;
}
.Home_section8_heading p,.Home_section8_content p{
    color:rgba(0, 0, 0, 0.527);
    font-size: 18px;
    margin: 30px 0;
}
.Home_section8_content h3{
    color:rgba(0, 0, 0, 0.527);
    font-size: 18px;
}

