

.W_W_A_section4_container{
    margin: 20px 0;
}
.W_W_A_section4_bg{
    background-image: url(../images/info-9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.owner_section_header{
    background-color: #00a3c8 !important;
}



                                                                                /* W.W.A SECTION2 START */
 .h3_bg1 h3{
     color:#004861;
     margin:20px 0;
 }
 .item_content{
     color: rgba(0, 0, 0, 0.562);
     font-size: 16px;
 }
                                                                              /* W.W.A SECTION2 END */

                                                                              





                                                                            